body {
    font-family: 'Consolas', 'Courier New', monospace; /* Устанавливаем шрифт Consolas */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

body.light-theme {
    background-color: #f4f4f4;
    color: #000;
}

body.dark-theme {
    background-color: #333;
    color: #fff;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container.dark {
    background-color: #444; /* Темный фон для контейнера при темной теме */
    color: #fff; /* Цвет текста для темной темы */
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.theme-toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent; /* Без фона для кнопки */
    border: none;
    z-index: 1000; /* Чтобы кнопка была поверх других элементов */
}

footer {
    text-align: center; /* Центрируем текст в футере */
    margin-top: 20px; /* Отступ от контейнера */
    font-size: 14px; /* Размер шрифта для информации */
    color: #555; /* Цвет текста */
}

.console {
    background-color: #f9f9f9; /* Светлый фон консоли */
    padding: 10px; 
    border-radius: 5px;
    margin-top: 20px;
    text-align: left; /* Выровненный текст влево */
}

.console.dark {
    background-color: #444; /* Темный фон консоли */
    color: #fff; /* Цвет текста для темной темы консоли */
}
